       <div class="navbar-header navbar-fixed-top text-center">
              <div class="backbtn"><img src="assets/back.png"></div>
        <h1>TROPHIES</h1>
      </div>

 <div class="container-narrow">
      <row>
        </>
<%=hidden_field_tag :auth_token,session[:access_token],:id => "access_tkn"%>
        <table class="table table-hover" id="data_table">
          <% @user = User.find_by_uid(session[:user_id]) %>
          <% i = 0 %>
          <tr>
          <% @badges.each do |s| %>
              <td>
                <h4><%=image_tag(s.image, :class => "img-thumbnail", :style => 'max-height:100px' )%></h4>
              </td>
              <td>
               <h4><%= s.name %></h4>
             </br>
              <h5 style="color:#666666"><%=s.description %></h5>
          </tr>
              <%  i+= 1 %>
             <% if i%4 == 0 %>
              </td>
            <% end %>
          <% end %>
        </table>
    </row>
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
          <a class="btn btn-playagain btn-lg text-center" href="/start">PLAY AGAIN</a>
        </div>
      </div>

    </div> <!-- /container -->

    <script type="text/javascript">
      

    </script>