<a id="simple-menu" href="#sidr">=</a>

<div id="sidr">
    <!-- Your content -->
    <ul>
        <li>
            <h3>Name that Designer</h3>
        </li>
        <li><a href="#">New Game</a>
        </li>
        <li><a href="#">Highscores</a>
        </li>
        <li><a href="#">Trophies</a>
        </li>
        <li><a href="#">Settings</a>
        </li>
        <li><a href="#">Logout</a>
        <li><a href="#">?</a>
        </li>

    </ul>
</div>
<script>
    $(document).ready(function () {
        $('#simple-menu').sidr();
    });
</script>
 <div class="container-narrow">
      <div class="jumbotron">
        <h3>Final Score</h3></br><h1><%= session[:total_score] %> </h1>
        <%=hidden_field_tag :score_points,session[:total_score], {:id=>"score_points" }%>
      </div>
      <div class="row marketing">
        <div class="col-lg-12" style"margin-top: 200px;">
             <p id='msg'></p>
          <a class="btn btn-fbshare btn-lg text-center"  href="#" onclick='postToFeed(); return false;'>F<div id='fb-root'></div>
    </a>
          
          <a class="btn btn-twtshare btn-lg text-center" id="twitter_button" href="#" data-lang="en" target="_blank" onclick="twitterClick()"> <img src="/assets/images/twitter.png"/>
          <a class="btn btn-playagain btn-lg text-center" href="/start">PLAY AGAIN</a>
          <a class="btn btn-blank btn-lg btn-block" href="/highscores">HIGH SCORES </a>
          <a class="btn btn-playagain btn-lg text-center" href="/badges">Badges</a>
        </div>
      </div>
    </div> <!-- /container -->
<script src='http://connect.facebook.net/en_US/all.js'></script>
<style>
  #fb-root { position:fixed; top: -11%;
    left: -10%; }
</style>
<script>
   !function(d,s,id){
  var js,fjs=d.getElementsByTagName(s)[0];
  if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  FB.init({appId: "546458635407528", status: true, cookie: true});

      function postToFeed() {

        // calling the API ...
        var obj = {
          method: 'feed',
          redirect_uri: 'http://multichoiceapp.herokuapp.com/over',
          link: 'http://multichoiceapp.herokuapp.com/highscores',
          picture: 'http://multichoiceapp.herokuapp.com/assets/badge.png',
          name: 'NAME that DESIGNER',
          caption: 'I have Scored'+$("#score_points").val()+' points. Having fun playing it...',
          description: 'Beat me if you can'
        };

        function callback(response) {
          //document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
          /*iosOverlay({
                          text: "Posted to FaceBook",
                          duration: 2e3,
                          icon: ""
                  });*/

                  $.ajax({
                    url: "/questions/fbshare",
                    type: "post",
                    success: function(data){

                    }
                });
        }

        FB.ui(obj, callback);
      }

      function twitterClick(){
        $("#twitter_button").attr("href","https://twitter.com/share?url=http://multichoiceapp.herokuapp.com/&text=I have scored "+ $("#score_points").val()+".  Beat me if you can...")
      }

</script>