      <div class=" navbar-header text-center">
          <div class="backbtn"><img src="assets/back.png"></div>
       <h1>GAME OVER</h1>
</div>
 <div class="container-narrow">
      <div class="jumbotron">
        <h2><%= @score.points %> </h2>
        <%=hidden_field_tag :score_points,@score.points, {:id=>"score_points" }%>
      </div>
      <div class="row marketing">
        <div class="col-lg-12" style"margin-top: 200px;">
             <p id='msg'></p>
          <a class="btn btn-share btn-lg text-center"  href="#" onclick='postToFeed(); return false;'>FB<div id='fb-root'></div>
    </a>
          
          <a class="btn btn-share btn-lg text-center" style="height:40px" id="twitter_button" href="#" data-lang="en" target="_blank" onclick="twitterClick()">TWTR</a>
          <a class="btn btn-playagain btn-lg text-center" href="/start">PLAY AGAIN</a>
          <a class="btn btn-blank btn-lg btn-block" href="/highscores">HIGH SCORES </a>
          <a class="btn btn-playagain btn-lg text-center" href="/badges">Badges</a>
        </div>
      </div>
    </div> <!-- /container -->
<script src='http://connect.facebook.net/en_US/all.js'></script>
<script>
   !function(d,s,id){
  var js,fjs=d.getElementsByTagName(s)[0];
  if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  FB.init({appId: "546458635407528", status: true, cookie: true});

      function postToFeed() {

        // calling the API ...
        var obj = {
          method: 'feed',
          redirect_uri: 'http://multichoiceapp.herokuapp.com/over',
          link: 'http://multichoiceapp.herokuapp.com/highscores',
          picture: 'http://multichoiceapp.herokuapp.com/assets/badge.png',
          name: 'NAME that DESIGNER',
          caption: 'I have Scored'+$("#score_points").val()+' points. Having fun playing it...',
          description: 'Beat me if you can'
        };

        function callback(response) {
          //document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
          /*iosOverlay({
                          text: "Posted to FaceBook",
                          duration: 2e3,
                          icon: ""
                  });*/

                  $.ajax({
                    url: "/questions/fbshare",
                    type: "post",
                    success: function(data){

                    }
                });
        }

        FB.ui(obj, callback);
      }

      function twitterClick(){
        $("#twitter_button").attr("href","https://twitter.com/share?url=http://multichoiceapp.herokuapp.com/&text=I have scored "+ $("#score_points").val()+".  Beat me if you can...")
      }

</script>