/* Space out content a bit */
body {
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile-first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 500px;
    margin-top: 20px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
.container-narrow > hr {
  margin: 30px 0;
}

#score_me {
    color: #000000;
    float: right;
}

.win{
    margin-top:-200px;
}

.backbtn {
    background-image: url("back.png");
    float: left;
    height: 25px;
    width: 25px;
    margin-top: 20px;
    cursor:pointer;
}

.prod_img {
  text-align: center;
  width:100%
  height:auto;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.btn-facebook {
    background-color: #658AD0;
    background-image: url("facebook.png");
    background-repeat: no-repeat;
    border-image: none;
    color: #FFFFFF;
    cursor: pointer;
    letter-spacing: 2px;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.btn-playagain {
    background-color: #1abc9c;
    color: #FFFFFF;
    margin-bottom: 20px;
    width: 100%;
}

.btn-playagain:hover,
.btn-playagain:focus,
.btn-playagain:active,
.btn-playagain.active {
  color: #ffffff;
  background-color: #1aae9a;
}

.btn-twitter {
    background-color: #6699cc;
    color: #FFFFFF;
  width: 300px;
}

.btn-highscores {
    background: none repeat scroll 0 0 #1abc9c;
    border-style: none none solid;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 10px;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 1px #3F9988;
    vertical-align: top;
    width: 100%;
    margin-bottom: 15px;
}

.btn-highscores:hover,
.btn-highscores:focus,
.btn-highscores:active,
.btn-highscores.active {
  color: #ffffff;
  background-color: #1aa3a2;
}

#btn-next {
    background-color: #0000FF;
    border: 0 solid transparent;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 25px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 10px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    width: 100px;
}
#btn-buy {
    -moz-user-select: none;
    background-color: #0000FF;
    border: 0 solid transparent;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 25px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 10px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.2s linear 0s;
    white-space: nowrap;
    width: 100px;
}
.back {
    color: #000000;
    font-size: 25px;
    font-weight: 100;
    vertical-align: middle;
}

section#hero {
    background: url("bg.png") repeat fixed 0 0 transparent;
    height: 400px;
    width: auto;
    margin-bottom: 20px;
  }

/* Supporting marketing content */
.marketing {
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

h1, .h1 {
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
/* MOBILE: Portrait and up */
@media (max-width: 320px) {

.swiper-container {
    max-height: 300px;
}


.backbtn {
    background-image: url("back.png");
    float: left;
    height: 25px;
    width: 25px;
    margin-top: 15px;
    cursor:pointer;
}

.jumbotron {
  text-align: center;
  min-height:200px
}

.thumbnail > img, .img-thumbnail {
    display: inline-block;
    height: 200px;
    max-width: 100%;
}

#score_me {
    font-size: 18px;
    margin-top: -2px;
    vertical-align: middle;
}

.container-narrow {
    margin: 0 auto;
    max-width: 300px;
    margin-top: 5px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    height:460px;
}
.container-narrow > hr {
  margin: 30px 0;
}

section#hero {
    background: url("bg.png") repeat fixed 0 0 transparent;
    height: 270px;
    width: auto;
  }

.jumbotron {
  text-align: center;
}

h1, .h1 {
    font-size: 20px;
    letter-spacing: 1px;
    padding: 10px;
}

h4, .h4 {
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 0px;

}
 h2, .h2 {
    font-size: 62px;
    font-weight: 100;
}

.nav > li > a {
    display: block;
    padding: 5px 10px;
    position: relative;
    font-size: 11px;
      letter-spacing: 1px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
}

.btn-lg {    
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.7em;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #666666;
    margin-bottom: 20px;
    font-size: 11px;
      letter-spacing: 1px;
}

.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
    line-height: 1.42857;
    padding: 0px;
    vertical-align: top;

}
