/* Space out content a bit */
body {
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile-first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 500px;
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    padding-bottom: 5px
}
.container-narrow > hr {
  margin: 30px 0;
}

#score_me {
    color: #000;
    float: right;
    font-size: 50px;
    font-weight: lighter;
    top: 0;
    vertical-align: middle;
}

.prod_img {
  position: absolute;
  text-align: center;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;

}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.btn-facebook {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #3B5998;
    border-color: -moz-use-text-color -moz-use-text-color #3b4288;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 2px;
    box-shadow: 0 -3px #3b4288 inset;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 22px;
    padding: 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 1px #3b4288;
    vertical-align: top;
    width: 100%;
    letter-spacing: 2px;
}
.btn-playagain {
    background-color: #56B2BD;
    color: #FFFFFF;
    margin-bottom: 2px;
    width: 100%;
}

.btn-twitter {
    background-color: #6699cc;
    color: #FFFFFF;
  width: 300px;
}

.btn-blank {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #6DC0D2;
    border-color: -moz-use-text-color -moz-use-text-color #6da7c1;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 2px;
    box-shadow: 0 -2px #6da7c1 inset;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 22px;
    margin-top: 10px;
    padding: 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 1px #6DC0D2;
    vertical-align: top;
    width: 100%;
}

#btn-next {
    background-color: #000000;
    border: 0 solid transparent;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 20px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    border-radius:30px;
    transition: color 0.2s linear 0s;
}
#btn-buy {
    -moz-user-select: none;
    background-color: #000000;
    border: 0 solid transparent;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 20px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 30px;
    transition: color 0.2s linear 0s;
}

section#hero {
    background: url("bg.png") repeat fixed 0 0 transparent;
    height: 500px;
    width: auto;
  }

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

h1, .h1 {
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
/* MOBILE: Portrait and up */
@media (max-width: 320px) {

#score_me {
    color: #CCCCCC;
    font-size: 20px;
    font-weight: lighter;
}

.container-narrow {
    margin: 0 auto;
    max-width: 300px;
    margin-top: 5px;
    background-color: #ffffff;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    padding-top: 10px
}
.container-narrow > hr {
  margin: 30px 0;
}

section#hero {
    background: url("bg.png") repeat fixed 0 0 transparent;
    height: 200px;
    width: auto;
  }

.jumbotron {
  text-align: center;
  margin-bottom: 30px;
}

h1, .h1 {
    font-size: 24px;
    letter-spacing: 1px;
}

h4, .h4 {
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 0px;

}

.nav > li > a {
    display: block;
    padding: 5px 10px;
    position: relative;
    font-size: 11px;
      letter-spacing: 1px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
  border-radius: 30px;
}

.btn-lg {    
    letter-spacing: 1px;
    line-height: 3em;
    font-size: 14px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #CCCCCC;
    border-radius: 30px 30px 30px 30px;
    color: #666666;
    margin-bottom: 20px;
    font-size: 11px;
      letter-spacing: 1px;
}

.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
    line-height: 1.42857;
    padding: 0px;
    vertical-align: top;

}
